<div class="wrapper">
  <i class="fa fa-table" aria-hidden="true" (click)="showDetails = ! showDetails"></i>
  <canvas id="canvas">{{chart}}</canvas>
</div>
<div class="wrapper">
  <table *ngIf="showDetails" mdbTable bordered="true" class="w-auto" striped="true">
    <thead class="black white-text">
      <th>#</th>
      <th>Year</th>
      <th>Album</th>
      <th>Sales</th>
    </thead>
    <tbody>
      <tr *ngFor="let w of worksheet; let id = index" > 
        <th>{{id+1}}</th>
        <td>{{w.Year}}</td>
        <td>{{w.Album}}</td>
        <td>{{w.worldwide_Sales}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="wrapper">
    <table *ngIf="showWeeks" mdbTable bordered="true" class="w-auto" hover="true">
      <thead class="black white-text">
        <th>#</th>
        <th>Year</th>
        <th>Weeks in top 100 charts</th>
        <th>Cummulative weeks in charts</th>
      </thead>
      <tbody>
        <tr *ngFor="let w1 of worksheet1; let id = index" > 
          <th>{{id+1}}</th>
          <td>{{w1.year}}</td>
          <td>{{w1.weeks_in_top_100charts}}</td>
          <td>{{w1.cummulative_weeks_in_charts_lifetime}}</td>
        </tr>
      </tbody>
    </table>
  </div>